<ion-header>
  <ion-toolbar color="custom">
    <ion-title>Customer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>




<div id="container"> 
  <div class="list">
    <ion-item>
      <ion-label>Followers</ion-label>
      <ion-badge color="secondary"slot="end">3.6K</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Following</ion-label>
      <ion-badge slot="end">1.5K</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Posts</ion-label>
      <ion-badge slot="end">428</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Strories</ion-label>
      <ion-badge slot="end">1.2K</ion-badge>
    </ion-item>
 
  </div>

  <button class="btn" ion-button (click)="goToHome()">Go to home</button>

</div>

</ion-content>
